<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <appSettings>
    <!-- https://stackexchange.github.io/StackExchange.Redis/Configuration.html -->
    <add key="redis.connection" value="10.0.1.10:6379,10.0.1.11:6379,10.0.1.12:6379"/>
  </appSettings>
</configuration>
