<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- Replace with username, password, IP, port and authentication source -->
    <!-- Default port is 27017 -->
    <!-- Password needs to be URI escaped (https://www.url-encode-decode.com/) -->
    <!-- https://mongodb.github.io/node-mongodb-native/driver-articles/mongoclient.html -->
    <add key="mongo.connection" value="mongodb://azureuser:UriEscapedPwd@10.0.1.10:27017,10.0.1.11:27017,10.0.1.12:27017?authSource=master&amp;replicaSet=rs0"/>
  </appSettings>
</configuration>